<h2 mat-dialog-title>Add Market</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content fxLayout="column" fxLayoutGap="12px">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" placeholder="Market name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <div fxLayout="row" fxLayoutGap="12px" fxLayout.xs="column">
    <mat-form-field fxFlex appearance="outline">
      <mat-label>Street address</mat-label>
      <input matInput formControlName="streetAddress" />
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label>Town</mat-label>
      <input matInput formControlName="town" />
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="12px" fxLayout.xs="column">
    
    <mat-form-field fxFlex appearance="outline">
      <mat-label>LGA</mat-label>
      <input matInput formControlName="lga" />
    </mat-form-field>

    <mat-form-field fxFlex appearance="outline">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
    </mat-form-field>
  </div>
</form>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button color="primary" mat-flat-button [disabled]="form.invalid || isSubmitting" (click)="onSubmit()">
    {{ isSubmitting ? 'Saving...' : 'Save' }}
  </button>
</mat-dialog-actions>
